@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
}
.App{
    width: 300px;
    height: 100vh;
}
.ExpenseTracker{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ExpenseTracker *{
    margin-bottom: 2vh;
}
.Balance{

}
.BalanceContainer{
    background-color: white;
    border: 1px lightgray solid;
    box-shadow: 2px 2px  2px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.BalanceContainer *{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.incomeValue{
    color: lightgreen;
} 
.expenseValue{
    color: red;
}

.History{
    display: flex;
    flex-direction: column;
}
.History *{
    display: flex;
    justify-content: space-between;
}

.SingleHistorypos{
    border: 5px lightgreen solid;
}

.SingleHistoryneg{
    border: 5px red solid;
}

.AddTransactionForm *{
    display: flex;
    flex-direction: column;
}